<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<add key="ida:ClientId" value="6aad1b33-48cd-4559-b79a-4c8851378d38"/>
		<add key="ida:RedirectUri" value="mipDemo://auth"/>
		<add key="app:Name" value="mipDemo"/>
		<add key="app:Version" value="0.0.1"/>
		<add key="Policy" value="NPCI-Author" />
	</appSettings>
	<runtime>
	</runtime>
</configuration>
